<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:one.hushh.ai</string>
		<string>applinks:uat.one.hushh.ai</string>
		<string>applinks:dev.one.hushh.ai</string>
		<string>webcredentials:one.hushh.ai</string>
		<string>webcredentials:uat.one.hushh.ai</string>
		<string>webcredentials:dev.one.hushh.ai</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)$(CFBundleIdentifier)</string>
		<string>$(AppIdentifierPrefix)com.hushh.app.imessage</string>
	</array>
</dict>
</plist>
